*{
   margin: 0px;
   padding: 0px; 
}
div{
    border: 1px black solid;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: grey;
    padding: 5px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.sidebar{
    grid-template-columns: 1;
    grid-template-columns: 2;
    padding-left: 10px;
    padding-top: 10px;
    background-image: url(final.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
}
.content{
    font-family: 'myFont';
    margin: 7px;
    text-align: center;
    color: rgb(255, 57, 255);

    grid-column-start: 2;
    grid-column-end: 5;
    height: 80vh;
    padding: 10px;
    background-image: url(foter.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
}

.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}
.header, .footer{
    background-color: rgb(234, 0, 255);
    margin: 2px;
    font-family: 'myFont';
    text-align: center;
}
.sidebar{
    font-family: 'myFont';
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.image-box{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text{
    position: absolute;
    bottom: 10px;
    left: 160px;
    color: white;
    background: rgba(234, 0, 255, 0.5);
    padding: 30px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar li{
    margin-bottom: 10px;
}
.sidebar a{
    display: block;
    padding: 15px 15px;
    background-color: rgb(255, 5, 192);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: backgound 0.3s;
}
.sidebar a:hover{
    background-color: blueviolet;
}

@font-face{
    font-family: 'myfont';
    src: url(Pixel.ttf);
}